.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  flex: 0 0 300px;
  max-width: 300px;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resultInfo {
  font-size: 1rem;
  color: #333;
  display: flex;
  justify-content: space-between;
    align-items: center;
}

.treeContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  overflow-x: auto;
  min-height: 500px;
  flex-grow: 1;
}
.paginationControls {
  display: flex;
  justify-content: center; /* Pusatkan tombol */
  align-items: center;
  gap: 0.5rem; /* Beri jarak antar tombol */
  margin-top: 1rem;
}

.paginationButton {
  width: 40px; /* Sesuaikan ukuran tombol */
  height: 40px;
  border-radius: 50%; /* Buat tombol berbentuk lingkaran */
  border: 2px solid var(--primary-orange);
  background-color: var(--white);
  color: var(--primary-orange);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.paginationButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationInfo {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}